<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/adminDash.css">
    <title>TechTrove Admin</title>
</head> 
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/user/admin/dashboard" class="logo mt-5">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>Tech</span>Trove</div>
        </a>
        <ul class="side-menu">
            <li class="active"><a href="/user/admin/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/user/admin/all-users"><i class='bx bx-group'></i>Users</a></li>
            <li><a href="/product/index"><i class='bx bx-store-alt'></i>Products</a></li>
            <li><a href="/prod/category"><i class='bx bx-message-square-dots'></i>Categories</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="/user/logout" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

   

    <script src="/js/adminDash.js"></script>