

<div class="list-group d-none d-md-block">
    <a href="/user/profile" class="list-group-item list-group-item-action "><i class="fas fa-tachometer-alt"></i> <b>Dashboard</b></a>
    <a href="/user/profile" class="list-group-item list-group-item-action"><i class="fas fa-user"></i> Account Details</a>
    <a href="/address/all" class="list-group-item list-group-item-action"><i class="fas fa-map-marker-alt"></i> Shipping Address</a>
    <a href="/get-orders" class="list-group-item list-group-item-action"><i class="fas fa-box"></i> Orders</a>
    <a href="/product/wishlist" class="list-group-item list-group-item-action"><i class="fas fa-heart"></i> Wishlist</a>
    <a href="/user/coupons" class="list-group-item list-group-item-action"><i class="fa fa-bookmark"></i> Coupons</a>
    <a href="/user/transactions" class="list-group-item list-group-item-action"><i class="fas fa-wallet"></i> Wallet</a>
    <a href="/logout" class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt"></i> Log-out</a>
</div>