{{> user-header}}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="/user/profile" class="list-group-item list-group-item-action active"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="/user/profile" class="list-group-item list-group-item-action"><i class="fas fa-user"></i> Account Details</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-map-marker-alt"></i> Shipping Address</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-box"></i> Orders</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-wallet"></i> Wallet</a>
        <a href="/logout" class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt"></i> Log-out</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Change Password</h4>
          <form action="/update-password?_method=PUT" method="POST">
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="currPassword" id="currentPassword">
                    <div class="input-group-append">
                        <span class="input-group-text toggle-password mt-1"><i class="fas fa-eye"></i></span>
                    </div>
                </div>
                {{#if errors.currPassword}}
                    <span class="error">{{errors.currPassword.msg}}</span>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="password" id="newPassword" placeholder="8+ characters">
                    
                    <div class="input-group-append">
                    <span class="input-group-text toggle-password mt-1"><i class="fas fa-eye"></i></span>
                    </div>
                </div>
                {{#if errors.password}}
                        <span class="error">{{errors.password.msg}}</span>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
                    <div class="input-group-append">
                    <span class="input-group-text toggle-password mt-1"><i class="fas fa-eye"></i></span>
                    </div>
                </div>
                {{#if errors.confirmPassword}}
                        <span class="error">{{errors.confirmPassword.msg}}</span>
                {{/if}}
            </div>
            <div class="mb-2"> 
                {{#if error}}
                    <span class="error">{{error}}</span>
                {{/if}}
            </div>
            <button type="submit" class="btn btn-dark">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
     togglePassword = document.querySelectorAll('.toggle-password');
    togglePassword.forEach(toggle => {
    toggle.addEventListener('click', function () {
      const input = this.parentElement.previousElementSibling;
      if (input.type === 'password') {
        input.type = 'text';
        this.firstElementChild.classList.replace('fa-eye', 'fa-eye-slash');
      } else {
        input.type = 'password';
        this.firstElementChild.classList.replace('fa-eye-slash', 'fa-eye');
      }
    });
  });
});

</script>